.Featured {
	color: black;
}
.featureContainer {
	max-height: 80vh;
	margin: 0 9% 10%;
}
.ftrText {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 0 0 2rem;
}
.ftrTitle {
	font-weight: 600;
	font-size: 2.5rem;
}
.ftrDes {
	max-width: 30rem;
	min-width: 18rem;
	align-self: center;
}

.ftrImage {
	height: 20rem;
	width: 40rem;
	object-fit: cover;
	border-radius: 10px;
}

button.slick-arrow.slick-next {
	display: none !important;
}
button.slick-arrow.slick-previous {
	display: none !important;
}
@media screen and (max-width: 566px) {
	.ftrImage,
	.ftrImageContainer {
		height: 10rem;
		width: 20rem;
	}
	.ftrTitle {
		font-size: 1.5rem;
	}
	.ftrDes {
		align-self: center;
		font-size: 0.9rem;
	}
}
