.Home {
	background: url("../images/image-6.jpg");
	color: white;
	padding: 50px 9% 0;
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.logo {
	position: relative;
	z-index: 25;
}
.homeOverlay {
	width: 100%;
	background-color: #284c65;
	opacity: 0.3;
	position: absolute;
	z-index: 20;
	top: 0;
	left: 0;
}
.homeCol {
	display: flex;
}
.homeCol1 {
	position: relative;
	z-index: 25;
	margin-top: 8%;
	width: 50rem;
	display: flex;
	flex-direction: column;
}

.homeTitle {
	font-weight: 600;
	font-size: 5vw;
	width: 70%;
}

.homeDes {
	font-size: 0.8rem;
	font-weight: 300;
	margin-top: 2rem;
	width: 60%;
}

.contactButton,
.contactButton:focus,
.contactButton:active {
	background-color: var(--coral);
	border-color: var(--coral);
	outline: none;
	font-size: 0.8rem;
	width: 10.5rem;
	margin-top: 2rem;
	padding: 17px;
	box-shadow: none;
}
.contactButton:hover {
	background-color: var(--dark-coral);
	border-color: var(--dark-coral);
}
.search {
	width: 100%;
	border: none;
	height: 60px;
	margin-top: 2rem;
	padding-left: 50px;
	font-size: 0.7rem;
}

.searchIcon {
	background-image: url("../images/search.svg");
	background-repeat: no-repeat;
	height: 1rem;
	width: 1rem;
	position: relative;
	left: 88%;
	top: 75px;
	right: 30px;
	display: inline-block;
}

.homeCol2 {
	align-self: flex-end;
	position: relative;
	z-index: 25;
	width: 20rem;
}

/******* media queries ********/

@media screen and (max-width: 966px) {
	.homeTitle {
		font-size: 8vw;
		width: 90%;
	}
	.homeContent {
		width: 90%;
		margin-top: 3rem;
	}
	.homeDes {
		width: 100%;
		margin-top: 1rem;
	}
	.homeCol2 {
		width: 5rem;
	}
}
