.Images {
	padding: 0 6%;
	margin: 4% 0;
}
.imgTitle {
	color: var(--dark-teal);
	font-weight: 600;
}
.imagesBox {
	height: 25rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.image {
	width: 14rem;
	height: 20rem;
	border-radius: 5px;
}
.img1 {
	background-image: url("../images/bluemountain.jpg");
}
.img2 {
	background-image: url("../images/snowmountain.jpg");
}
.img3 {
	background-image: url("../images/starmountain.jpg");
}
.img4 {
	background-image: url("../images/beachcott.jpg");
}

.imageOverlay {
	background-color: #83bcc5;
	position: absolute;
	width: 14rem;
	height: 20rem;
	opacity: 0;
	border-radius: 5px;
}
.imageOverlay:hover {
	opacity: 0.8;
	transition: 0.5s;
	cursor: pointer;
}

.description {
	position: relative;
	top: 60%;
	font-size: 0.8rem;
	color: white;
	text-align: center;
	padding: 0 30px;
	transform: scale(0);
	transition: 0.5s;
}

.image:hover p {
	transform: scale(1);
}

/******* media queries ********/

@media screen and (max-width: 966px) {
	.imgTitle {
		font-size: 1.8rem;
	}

	.image,
	.imageOverlay {
		width: 8rem;
		height: 16rem;
	}
	.image {
		margin: 10px 0;
	}
	.description {
		font-size: 0.6rem;
	}
}
