.Newsletter {
	margin: 3% 9%;
	/* height: 95vh; */
	padding-top: 1rem;
	max-height: 150vh;
}

.nwsContainer {
	background: linear-gradient(
			0deg,
			rgba(232, 236, 241, 0.1),
			rgba(232, 236, 241, 0.1)
		),
		url("../images/nwsmountain.jpg");
	height: 80vh;
	background-repeat: no-repeat;
	width: 100%;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
}

.nwsText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 2rem;
	width: 30rem;
}

.nwsTitle {
	font-weight: 600;
	width: 60%;
	font-size: calc(2rem + 1.2vw);
}
.nwsDes {
	font-size: 0.8rem;
	min-width: 48%;
}

.nwsForm {
	width: 35%;
	margin-left: 2%;
	align-self: flex-end;
	background-color: white;
	border-radius: 10px 10px 0 0;
	height: 13.5rem;
}
.nwsForm input {
	border: none;
	border-bottom: 2px solid rgb(187, 187, 187);
	padding: 20px 10px;
	width: 70%;
	margin-left: 15%;
	outline: none;
}
.nwsForm input::placeholder {
	color: black;
	font-size: 0.8rem;
}

.signupButton,
.signupButton:focus,
.signupButton:active {
	background-color: var(--light-blue);
	border-color: var(--light-blue);
	outline: none;

	border-radius: 0 0 10px 10px;
	font-size: 0.8rem;
	width: 100%;
	margin-top: 2rem;
	padding: 17px;
	box-shadow: none;
}
.signupButton:hover {
	background-color: var(--dark-blue);
	border-color: var(--dark-blue);
}
@media screen and (max-width: 566px) {
	.Newsletter {
		margin: 3% 5%;
		height: 100vh;
	}
	.nwsTitle {
		font-size: 1.5rem;
	}

	.nwsText {
		padding-top: 50%;
	}

	.nwsForm {
		width: 90%;
		margin: 1rem;
	}
}
