.Third {
	background-image: url("../images/orangepine.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	top: 5vw;
	margin-bottom: 100px;
	z-index: -10;
}

.thImg {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 2rem 2rem 7rem;
	width: 30rem;
}
.thImgOverlay {
	background-color: #182d39;
	width: 100%;
	height: 100%;
	/* border: 2px solid red; */
	position: absolute;
	z-index: -5;
	left: 0;
	top: 0;
	opacity: 0.3;
}
.thImgTitle {
	font-size: 2rem;
	font-weight: 600;
}

.thImgdesc {
	width: 70%;
}

.thFs {
	width: 25rem;
	background-color: var(--dark-green);
	opacity: 0.9;
	display: flex;
	align-items: center;
}
.thFsContent {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	align-items: center;
}
.thFsTitle {
	width: 50%;
	text-align: left;
	margin-left: -4rem;
}

.thFsSection {
	display: flex;
	margin: 10px;
	border-bottom: 1px solid gray;
	width: 70%;
}

.thFsImg {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-right: 30px;
}

.thFsDes {
	font-size: 0.8rem;
}

.thFsDate {
	font-size: 0.6rem;
	color: grey;
}

@media screen and (max-width: 566px) {
	.Third {
		top: 90vw;
		margin-bottom: 300px;
	}
}
