.Third {
	background: linear-gradient(0deg, rgb(24, 45, 57, 0.4), rgb(24, 45, 57, 0.4)),
		url("../images/orangepine.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 10% 0 8%;
	min-height: 95vh;
	max-height: 200vh;
}

.thImg {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 6% 0;
}
.thImgContent {
	padding: 0 21%;
}
.thImgTitle {
	font-size: 2.5rem;
	font-weight: 600;
	max-width: 20rem;
}

.thImgdesc {
	max-width: 32rem;
}

.thFs {
	width: 30rem;
	background-color: var(--dark-green);
	opacity: 0.9;
	display: flex;
	align-items: center;
	justify-content: center;
}
.thFsContent {
	display: flex;
	flex-direction: column;
	padding: 2.5rem 0;
	align-items: center;
}
.thFsTitle {
	width: 50%;
	text-align: left;
	align-self: flex-start;
	margin-left: 3.5rem;
	font-size: 2.5rem;
	font-weight: 500;
}

.thFsSection {
	display: flex;
	margin: 15px;
	border-bottom: 1px solid gray;
	width: 70%;
}

.thFsImg {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-right: 30px;
}

.thFsDes {
	font-size: 0.8rem;
}

.thFsDate {
	font-size: 0.6rem;
	color: grey;
}

@media screen and (max-width: 566px) {
	.thImgContent {
		padding: 0 10%;
	}
	.thImgTitle,
	.thFsTitle {
		font-size: 1.8rem;
	}
	.thFsTitle {
		text-align: center;
		width: 100%;
		margin-left: 0.5rem;
	}
	.thImgdesc {
		font-size: 0.9rem;
	}
}
