@font-face {
	font-family: "Poppins";
	src: url("./fonts/Poppins-Regular.ttf");
	font-weight: 400;
}
body {
	margin: 0;
	font-family: "Poppins", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
		"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
}
